<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.app.entities.User">
    <select id="findMessagesById" resultType="my.app.entities.Message">
        SELECT * FROM message WHERE user_id = #{user_id} OR target_id = #{user_id}
    </select>

    <select id="findMessagesByIdAndTarget" resultType="my.app.entities.Message">
        SELECT * FROM message WHERE ( user_id = #{user_id} AND target_id = #{target_id} ) OR ( user_id = #{target_id} AND target_id = #{user_id })
    </select>

    <insert id="insertMessage">
        INSERT message(user_id,target_id,type,value,time)
        VALUES (#{user_id},#{target_id},#{type},#{value},#{time})
    </insert>

</mapper>